<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.yao.dependence">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/DroidTheme">


        <!-- QQ授权登录sdk需要的Activity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!--xiegang appid-->
                <data android:scheme="tencent1105605399"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"/>

        <!-- 微博授权登录sdk需要的授权页Activity-->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>


        <!-- 空Activity,用于QQ分享-->
        <activity
            android:name=".share.activity.EmptyQQActivity"
            android:theme="@style/DroidTheme.Translucent"/>
        <!-- 空Activity,用于Weibo分享-->
        <activity
            android:name=".share.activity.EmptyWeiboActivity"
            android:theme="@style/DroidTheme.Translucent">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


    </application>

</manifest>
